/*
    You can add your own styling for the slides in this file.
*/

body {
    font: 1em 'Helvetica', sans-serif;
}

h1 {
    display: block;
    width: 50%;
    margin: 3em auto 0;
    text-align: center;
    color: white;
    text-shadow: rgba(0,0,0,.3) 0 2px 0;
}

p {
    display: block;
    width: 45%;
    margin: 2em auto 0;
    font-size: 1.5em;
    text-align: center;
    line-height: 1.5em;
    color: white;
    text-shadow: rgba(0,0,0,.3) 0 2px 0;
}

img.slidevs {
    display: block;
    width: 20%;
    margin: 4em auto 0;
}

p.interactive {
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
}

span.interactive {
    color: #2F302C;
    cursor: pointer;
}

a, a:hover, a:active, a:visited {
    color: white;
}

/*
    You can overwrite the colours of the progress bar as you wish
*/

.progress-bar {
}

.progress {
}