# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
# Do not ignore node_modules folder yet, for testing purposes

# Created hidden folder for the slidevs presentation
.slidevs