/*
    You can add your own styling here!
*/

body {
    font: 1em 'Helvetica', sans-serif;
}

h1 {
    display: block;
    width: 50%;
    margin: 2em auto 0;
    text-align: center;
    color: white;
    text-shadow: rgba(0,0,0,.3) 0 2px 0;
}

p {
    display: block;
    width: 50%;
    margin: 2em auto 0;
    font-size: 1.5em;
    text-align: center;
    color: #888E89;
    text-shadow: rgba(255,255,255,.3) 0 1px 0;
}