/*
    You can add your own styling for the slides here!
*/

body {
    font: 1em 'Helvetica', sans-serif;
}

h1 {
    display: block;
    width: 50%;
    margin: 3em auto 0;
    text-align: center;
    color: #D83B3B;
    text-shadow: rgba(0,0,0,.3) 0 2px 0;
}

p {
    display: block;
    width: 45%;
    margin: 2em auto 0;
    font-size: 1.5em;
    text-align: center;
    line-height: 1.5em;
    color: white;
    text-shadow: rgba(0 ,0 ,0 ,.3) 0 2px 0;
}

/* You can overwrite the colours of the progress bar as you wish */
.progress-bar {
    /**/
}

.progress {
    /**/
}